*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),
    url("road.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.login-container{

    width:420px;

    padding:40px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,0.4);

    text-align:center;

}

.login-container h1{

    color:white;

    margin-bottom:15px;

}

.login-container p{

    color:#ddd;

    line-height:24px;

    margin-bottom:25px;

}

input{

    width:100%;

    padding:14px;

    margin:20px 0;

    border:none;

    border-radius:10px;

    background:rgba(255,255,255,0.15);

    color:white;

    outline:none;

    font-size:16px;

}

input::placeholder{

    color:#ddd;

}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#facc15;

    color:#111827;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#eab308;

}

#message{

    margin-top:20px;

    color:#facc15;

    font-weight:bold;

}